 .city {
    padding: 40px 0 0 0;
    font-size: 30px;
    padding-bottom: 1px;
  }

  .day{
    padding: 0 0 0 209px;
    font-size: 16px;
  }
  
  .temperature {
    font-size: 40px;
    padding-top: 10px;
  }
  
  .units {
    position: relative;
    top: -16px;
    font-size: 15px;
  }
  
  .weather-info-list {
    list-style-type: none;
    font-size: 16px;
    font-weight: 100;
    line-height: 9px;
  }

  .city-date-list {
    list-style-type: none;
    font-size: 18px;
    font-weight: 100;
    line-height: 9px;
  }

  .weather-temperature .active {
    color: black;
    cursor: default;
  }
  
  .weather-temperature .active:hover {
    text-decoration: none;
  }

  #description {
    padding-top: 14px;
    font-size: 16px;
    font-style: italic;
  }
  